<h1><%= @property.title %></h1>
<p><%= @property.description %></p>
<p>R$ <%= number_to_currency(@property.price, unit: "", separator: ",", delimiter: ".") %></p>
<p><%= @property.city %> - <%= @property.state %></p>

<%= link_to "Editar Propriedade", edit_property_path(@property), class: "btn btn-primary" %>

<% if user_signed_in? && current_user.buyer? %>
  <%= link_to "Agendar visita", new_property_visit_path(@property), class: "btn btn-success my-3" %>
<% end %>

<h3>Fotos</h3>
<% @property.property_photos.each do |photo| %>
  <%= image_tag photo.image.variant(resize_to_limit: [400, 300]) %>
<% end %>

<%= link_to "Todas as propriedades", properties_path, class: "btn btn-secondary" %>